<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>新增學生</title>
</head>
<body>
<form action="/addstudent/" method="POST" name="form1">
    {% csrf_token %}
    <table border="1">

        <tr>
            <th>姓名</th>
            <td>{{tsai.name}}</td>
        </tr>
        <tr>
            <th>性別</th>
            <td><input type="radio" name="sex" value="f">男生
            <input type="radio" name="sex" value="m">女生</td>
        </tr>
        <tr>
            <th>生日</th>
            <td>{{tsai.birthday}}</td>
        </tr>
        <tr>
            <th>email</th>
            <td>{{tsai.email}}</td>
        </tr>
        <tr>
            <th>電話</th>
            <td>{{tsai.phone}}</td>
        </tr>
        <tr>
            <th>地址</th>
            <td>{{tsai.addr}}</td>
        </tr>
        <tr>
            <th colspan="2" align="center">
            <input type="submit" value="送出">
            <input type="reset" value="重設"></th>
        </tr>

    </table>
    <span style="color:red">{{message}}</span>
    <a href="/listall/">返回</a>
</form>
</body>
</html>